.ball{
    border-radius: 50%;
    box-shadow: 8px 4px 13px 3px rgb(0, 0, 0);
    height: 90px;
    width: 90px;
    position: absolute;
    background-color: transparent;
    background: url('../../assets/target.png') center / cover no-repeat;
    /* background-image: radial-gradient(rgb(15, 209, 253), rgb(50, 149, 236)); */
    cursor: crosshair;
}


/* .ball:focus,
.ball:focus-visible {  
    background-image: radial-gradient(rgb(234, 248, 251), rgb(152, 206, 254));
} */